.timer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 250px;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.value {
    font-size: xx-large;
}

.label {
    font-size: smaller;
    text-transform: uppercase;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width:200px;
}

input:not([type="image" i], [type="range" i], [type="checkbox" i], [type="radio" i]) {
    width: 190px;
}